body {
    font-family: Georgia, Verdana, sans-serif ;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
}
/*---------------------------------------------.container--------------------------------------------------------*/

.container {  display: grid;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 200px 100px 100px 100px 10px 100px 100px;
    grid-template-rows:
            100px
            50px
            50px
            50px
            160px
            50px
            35px
            35.3px
            164.7px
            70px
            0px
            10px;
    grid-template-areas:
    "Header Header Header Header Header Header Header Header Header Header Header . . "
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye Rye ."
    ". . . . . . . . . . . . ."
    ". . . . . . . . . . . . ."
    "Footer Footer Footer Footer Footer Footer Footer Footer Footer Footer . . . ";
}

/*.container > div {border: darkred dotted 4px}*/

/*---------------------------------------------Header--------------------------------------------------------*/
.Header { grid-area: Header; }

nav {
    /*border-top: solid black 1px;*/
    /*border-bottom: solid black 1px;*/
    margin: 1rem auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;

}

nav li {
    display: inline-block;
    border-right: solid grey 1px;

}

nav a {
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
    background-color: royalblue;
    color: white;
    padding: 0.5rem 1rem;
}

/*nav a:link {*/
/*    background-color: royalblue;*/
/*    color: white;*/

/*}*/

nav a:focus {
    background-color: white;
    color: royalblue;
}

nav a:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: transparent;
    color: royalblue;
    border-right: solid black 1px;
    border-left: solid black 1px;
    border-top: solid black 1px;
}

/*
5 Link States (must be in this order)

:link = before visited
:visited = after visited
:focus = when selected
:hover = on mouse hover
:active = after clicked before loaded

 */


/*---------------------------------------------Rye--------------------------------------------------------*/
.Rye { grid-area: Rye; text-align: center;}

iframe {
    margin-top: 100px;
    margin-right: 160px;
}




/*-----------------------------------------------------------------------------------------------------*/



/*-----------------------------------------------------------------------------------------------------*/



/*---------------------------------------------Footer--------------------------------------------------------*/
.Footer {
    grid-area: Footer;
    text-align: center;
}

#copyright {
    font-size: 12px;
}
